@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.upload {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    border-top: 1px solid $mercury;

    &__heading {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include text;
        font-weight: 800;
        font-size: 2rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
        &__container {
            display:flex;
            flex-direction: column;
            padding-bottom: 2rem;

            @include tablet {
                border-bottom: 1px solid $mercury;
            }
        }
            &__thumbnail {
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
                &__title {
                    @include text;
                    color: $silver;
                    font-weight: 600;
                }
                &__image {
                    height: min-content;
                    width: 100%;

                    @include tablet {
                        width: 50%;
                    }
                }
            &__info {
                display: flex;
                flex-direction: column;
                padding-top: 1.25rem;
            }

                &__title--info {
                    padding-bottom: .5rem;
                }
                &__title--second {
                    padding-top: 2rem;
                }

                &__input{
                    background-color: $alabaster;
                    border-radius: 5px;
                    padding: .75rem;
                    border: 2px solid $mercury;
                    outline-color: $brainflix-blue;
                    color: $dark-black;

                    @include text;
                }
                &__description{
                    height: 20vh;
                    background-color: $alabaster;
                    border-radius: 5px;
                    padding: .75rem;
                    border: 2px solid $mercury;
                    outline-color: $brainflix-blue;
                    color: black;

                    @include text;
                }

        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            @include tablet {
                flex-direction: row;
                justify-content: end;
                padding-top: 2rem;
                //width: 40%;
                align-items: center;
                justify-content: end;
            }
            
        }
            &__submit {
                background-color: $brainflix-blue;
                display: flex;
                border: none;
                border-radius: 5px;
                width: 100%;
                padding: .75rem;
                cursor: pointer;

                @include tablet {
                    width: 20%;
                }
                
            }
                &__icon {
                    height: 1.5rem;
                }
                &__text {
                    @include text;
                    font-weight: 600;
                    color: $white;
                    width: 100%;
                    align-self: center;
                }
            &__cancel {
                display: flex;
                background-color: $white;
                width: 100%;
                padding: .75rem;
                border-radius: 5px;
                border: none;
                cursor: pointer;

                @include tablet {
                    width: 20%;
                }
            }
                &__text--blue {
                    color: $brainflix-blue;
                }
}