@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
    display: flex;
    flex-direction: column;
    padding-top: 1.25rem;
    width: 100%;
    //margin: 1.25rem;

    &__form {
        display: flex;
        gap: 1.25rem;
        border-bottom: 1px solid $mercury;
        padding-bottom: 1.25rem;
    }
        &__face {
            border-radius: 50%;
            height: 3.25rem;
            width: 3.35rem;
            object-fit: cover;
        }
        &__face--top {
            margin-top: 3rem;
        }
        &__conversation {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1.25rem;
        }
            &__heading {
                display: flex;
                flex-direction: column;
                gap: .25rem;
            }
                &__join {
                    @include text;
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: $silver;
                }
                &__box {
                    height: 10rem;
                    background-color: $alabaster;
                    border-radius: 5px;
                    padding: 1rem;
                    border: 2px solid $mercury;
                    outline-color: $brainflix-blue;
                    
                    @include text;
                }
                &__box::placeholder {
                    color: $dark-black;
                }
                &__submit {
                    background-color: $brainflix-blue;
                    border-radius: 5px;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    border: none;
                    cursor: pointer;
                }
                    &__icon {
                        height: 2rem;
                    }
                    &__comment {
                        @include text;
                        color: $white;
                        font-weight: 600;
                        width: 100%;
                    }
    }